
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/homeMaster.cshtml";
}
<script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="~/Content/assets/css/style0.css" rel="stylesheet" />

<script>
    (function () {


        var inputs = document.createElement('input');


        var supports = {};

        supports.autofocus = 'autofocus' in inputs;
        supports.required = 'required' in inputs;
        supports.placeholder = 'placeholder' in inputs;


        if (!supports.autofocus) {

        }


        if (!supports.required) {

        }


        if (!supports.placeholder) {

        }


        var send = document.getElementById('register-submit');
        if (send) {
            send.onclick = function () {
                this.innerHTML = '...Sending';
            }
        }

    })();
</script>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="index.html">Home </a></li>
        <li class="active"> Login</li>
    </ol>
    <div class="registration">
        <div class="registration_left ">
            <div class="login-right">
                <h2><span>Login Here.</span></h2>
                <p>
                    Welcome, please enter the folling to continue.
                    If you have previously Login with us, <span>click here.</span>
                </p>
            </div>
            <div class="registration_form">
                <!-- Form -->
                <form id="registration_form" action="@Url.Action("InsertUserData", "YourControllerName")" method="post">
                    <div>
                        <label>
                            <input name="Email_Id" placeholder="email address:" type="email" tabindex="3" required>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input name="Password" placeholder="password" type="password" tabindex="4" required>
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="Login" id="register-submit">
                    </div>

                    <a class="login-right" href="#"><p class="login-right">Forgot Password ?</p></a>

                </form>
            </div>
        </div>
        <div class="registration_left">
            <div class=" login-right">
                <h2>NEW REGISTRATION</h2>
                <p>Dear Customer, you can sell and buy your property quickly by creating an account. If you have already created an account then you can login from here.</p>
             
             <a href="~/Home/Register">
                <input type="button" value="Create an Account" class="acount-btn" />

             </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>




